.movie-backdrop {
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
}

.jumbotron-backdrop {
    background-image: linear-gradient(to top, #000, transparent);
}

.text-shadow {
    text-shadow: 1px 1px 3px #000;
}